name: Test, Build, and Deploy | Modul #1 - Lab2.2 Senior Project

on:
  push:
    branches: [main]

jobs:
  test-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    
    steps:
      - uses: actions/checkout@v4
      - name: Testing Build pre-Deploy
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
          cache: "npm"
      - run: npm i
      - run: npm run build

  deploy:
    needs: test-build
    runs-on: ubuntu-latest
    
    steps:
      - name: Build app on VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}} 
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}
          script: |
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/ssh-praktikan41

            echo "Cek folder Project"

            if [ ! -d "$HOME/senpro/518252/modul02/senpro-github-action" ]; then
              echo "Repository belum di-clone. Cloning..."

              mkdir -p "$HOME/senpro/518252/modul02"
              cd "$HOME/senpro/518252/modul02"

              git clone https://github.com/HaidarFaruqi/senpro-github-action.git
              cd senpro-github-action

            else
              echo "Repository sudah ada. Building..."

              cd "$HOME/senpro/518252/modul02/senpro-github-action"
              git restore .
              git pull origin main
            fi

            echo "Install Package dan Build Project"
            npm install
            npm run build